<div class="row">
  <div class="col-md-6">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
      Update make to the database.
    </a>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= form_for @vehicle_model, url: admin_configurations_vehicle_model_path, method: :put do |f| %>
          <%= f.text_field :name %><br/>
          <%= f.select :vehicle_make_id, options_for_select(@vehicle_makes.collect{|v| [v.name, v.id]}), {}, {class: "selectpicker"} %><br/>
          <%= f.label :published %>
          <%= f.check_box :published %><br>
          <%= f.submit "Create Makes", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>