<div class="row">
  <div class="col-md-6">
    <h2>
      Update Vehicle Option
    </h2>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= form_for @vehicle_option, url: admin_configurations_vehicle_option_path, method: :patch do |f| %>
          <%= f.text_field :name %><br/>
          <%= f.label :published %>
          <%= f.check_box :published %><br>
          <%= f.submit "Update Vehicle Option", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>